<div class="row">
  <section class="post_form col-md-12">
    <%= render "shared/post_form" %>
  </section>
  <section class="col-md-12">
    <h6 class="h-title"> Post Feed</h6>
    <%= render "shared/feed" %>
  </section>
</div>
