<div class="center jumbotron home">
  <h1 class="h-title">Moim</h1>
  <h2 class="h-title">Meet your friends</h2>

  <%= link_to "Sign up", new_user_registration_url, class: "btn btn-lg btn-success" %>
  <%= link_to "Log in", new_user_session_url, class: "btn btn-lg btn-success" %>
  <%= link_to "Log in with facebook", new_user_session_url, class: "btn btn-lg btn-success" %>
  <%# facebook for future implementation %>
</div>
