<div class="h-title jumbotron introduction">
  <h1>Moim</h1>
  <h2>Meet your friends</h2>

  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-success" %>
  <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-success" %>
  <%= link_to "Log in with facebook", new_user_session_path, class: "btn btn-lg btn-success" %>
  <%# facebook for future implementation %>
</div>
