$mid-gray: #777;
$mid-dark-gray: #555;
$dark-gray: #222;
$border-gray: 1px solid #eaeaea;

$light-grass: #9efe649a;
$mid-grass: #92f24f9a;

$light-warm-green: #dafeb2;
$mid-warm-green: #cff2ae;
$green: #06ad45;
$dark-green: #0b8000;

$light-pink: #f8aca1;
$mid-pink: #f36a5f;

$mid-orange: #f27b4e;
$dark-orange: #ef4321;


$transparent-white-mid: #ffffff8d;

a {
  color: $green;
  &:hover {
    color: $dark-green;
  }
}

.jumbotron {
  background-color: $mid-warm-green !important;
}

.alert-notice {
  background-color: $light-grass;
  border-color: $mid-grass;
}

.alert-alert {
  background-color: $light-pink !important;
  border-color: $mid-pink !important;
}
