$light-gray: #ccc;
$mid-light-gray: #aaa;
$mid-gray: #777;
$mid-dark-gray: #555;
$dark-gray: #222;
$high-dark-gray: #111;
$border-gray: 1px solid #eaeaea;
$double-border-gray: 8px double #eaeaea;
@mixin border-bottom-gray {
  border-bottom: $border-gray;
}

$light-grass: #9efe649a;
$mid-grass: #8cef4dd9;

$light-warm-green: #cff2ae;
$green: #06ad45;
$mid-dark-green: #099000;
$dark-green: #0b8000;

$light-pink: #f8aca1;
$mid-pink: #f36a5f;

$mid-orange: #f27b4e;
$dark-orange: #ef4321;

$transparent-white-mid: #ffffff8d;

.dropdown-menu {
  background-color: $light-warm-green;
  li:not(:last-child) {
    border-bottom: 0.2px solid $mid-grass;
  }
}

header {
  border-bottom: 0.2px solid $light-warm-green;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-light .navbar-nav {
  .show > .nav-link,
  .active > .nav-link,
  .nav-link.show,
  .nav-link.active {
    color: #fff;
    font-weight: bold;
  }
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.nav-item {
  color: #fff;
}

a {
  color: $mid-dark-green;
  &:hover {
    color: $dark-green;
  }
}

.btn-selectable {
  border: 1px solid #fff;
  background-color: $mid-dark-green;
  &,
  &:hover {
    color: #fff;
  }
}

.btn-unselectable {
  border: 1px solid $mid-dark-green;
  &,
  &:hover {
    color: $mid-dark-green;
  }
}

.jumbotron {
  background-color: $light-warm-green !important;
}

.alert-notice {
  background-color: $light-grass;
  border-color: $mid-grass;
}

.alert-alert {
  background-color: $light-pink !important;
  border-color: $mid-pink !important;
}
