@import "framework/colors";

.user_form {
  color: $brown;
  & > * {
    @media (min-width: 576px) { /* small */
      text-align: center;
      width: 50%;
      margin-left: 25%;
    }
    padding: 0.3rem;
  }
}

#edit_user .field {
  @include border-bottom;
}

.pagination {
  li {
    border: none !important;
  }
}

.page-item {
  .page-link {
    color: $warm-green-darken-2;
    background: $warm-green-lighten-2;
    &:hover {
      color: $warm-green-darken-3;
      background-color: $warm-green-lighten-3;
      border-color: $warm-green-lighten-3;
    }
  }
  &.active .page-link {
    background-color: $warm-green;
    border-color: $warm-green;
  }
  &.disabled .page-link {
    color: white;
    background-color: $brown-lighten-3;
  }
}


@mixin profile-pic($size) {
  width: $size*1rem;
  height: $size*1rem;
  margin: 0.2rem;
  border-radius: 50%;
}

.navbar .profile-pic {
  @include profile-pic(2);
  float: left;
}

.post .profile-pic {
  @include profile-pic(4);
  float: left;
}

.profile-info .profile-pic {
  @include profile-pic(5.5);
  float: left;
  margin-right: 2rem;
  @media (min-width: 768px) and (max-width: 991.99px)  { /* midium */
    float: none;
  }
}

.friends-info .profile-pic {
  @include profile-pic(4);
  float: left;
}

.write-comment .profile-pic {
  @include profile-pic(3);
  float: left;
}

.comment .profile-pic {
  @include profile-pic(3);
  float: left;
}

.users .profile-pic {
  @include profile-pic(4);
}
