@import "framework/colors";

.user_form {
  & > * {
    @media (min-width: 576px) { /* small */
      text-align: center;
      width: 50%;
      margin-left: 25%;
    }
    padding: 0.3rem;
  }
}

#edit_user .field {
  @include border-bottom-gray;
}

// pagination
.page-item {
  .page-link {
    color: $green;
    background: $light-grass;
    &:hover {
      color: $dark-green;
      background-color: $light-warm-green;
      border-color: $light-warm-green;
    }
  }
  &.active .page-link {
    background-color: $green;
    border-color: $green;
  }
  &.disabled .page-link {
    color: white;
    background-color: $mid-light-gray;
  }
}

.post-footer {
  
}
