@import "framework/colors";

.user_form {
  & > * {
    @media (min-width: 576px) { /* small */
      text-align: center;
      width: 50%;
      margin-left: 25%;
    }
    padding: 0.3rem;
  }
}

#edit_user .field {
  @include border-bottom-gray;
}

// pagination
.page-item {
  .page-link {
    color: $green;
    background: $light-grass;
    &:hover {
      color: $dark-green;
      background-color: $light-warm-green;
      border-color: $light-warm-green;
    }
  }
  &.active .page-link {
    background-color: $green;
    border-color: $green;
  }
  &.disabled .page-link {
    color: white;
    background-color: $mid-light-gray;
  }
}


@mixin profile-pic($size) {
  width: $size*1rem;
  height: $size*1rem;
  margin: 0.2rem;
  border-radius: 50%;
}

.post .profile-pic {
  @include profile-pic(4);
  float: left;
}

.profile-info .profile-pic {
  @include profile-pic(5.5);
  display: block;
  @media (min-width: 768px) { /* midium */
    float: left;
  }
}

.friends-info .profile-pic {
  @include profile-pic(3);
  float: left;
}

.write-comment .profile-pic {
  @include profile-pic(3);
  float: left;
}

.comment .profile-pic {
  @include profile-pic(3);
  float: left;
}

.users .profile-pic {
  @include profile-pic(4);
}
