<section class="profile-info
  d-sm-flex justify-content-around d-md-block">
    <%= profile_img_for @user %>
  <h6 class="h-title mt-3 ml-3 float-left">
    <%= @user.name.full %>
  </h6>
  <% if current_user? @user %>
    <%= link_to I18n.t('customs.buttons.edit_user_info'),
      edit_user_registration_path, class: "btn btn-md btn-success" %>
  <% else %>
    <%= render 'friendships/request_buttons', friend: @user %>
  <% end %>
</section>
