<% provide(:title, I18n.t('customs.titles.users_index')) %>
<section class="users list-style-none">
  <% @friends.each do |friend_type, friend_group| %>
    <h6 class="mt-4 h-title">
      <%= I18n.t("customs.titles.#{friend_type}",
        name: current_user.name.possessive) %>
    </h6>
    <ol class=<%= friend_type %>>
      <%= render friend_group %>
    </ol>
    <%= will_paginate friend_group %>
  <% end %>
</section>
