<% provide(:title, I18n.t('customs.titles.users_index')) %>
<h6 class="mt-4 h-title"><%= I18n.t('customs.titles.users_index') %></h6>
<ol class="users list-style-none">
  <%= render @users %>
</ol>
<%= will_paginate @users %>
