<% provide(:title, @user.name) %>
<div class="row">
  <section class="user-info col-md-12">
    <%#= gravatar_for @user %>
    <h6 class="h-title"><%= @user.name.full %></h6>
  </section>
  <section class="col-md-12 row">
    <aside class="col-md-3">
      friends(9)
    </aside>
    <div class="col-md-9">
      <%= render "shared/post_form" %>
      <% if @user.writing_posts.any? %>
        <h6>Posts</h6>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    </div>
  </section>
</div>
