<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <%= render "profile_info" %>
    <%= render "friends_info" %>
  </aside>
  <div class="col-md-9">
    <% if current_user? @user %>
      <%= render "posts/form" %>
    <% end %>
    <%= render "post_list" %>
  </div>
</div>
