<%= form_for(current_user.friendships.build) do |f| %>
  <div><%= hidden_field_tag :friend_id, @user.id %></div>
  <%= f.submit I18n.t('customs.buttons.request_friend'), class: "btn btn-like" %>
<% end %>
