<li id="post-<%= post.id %>">
  <%#= link_to gravatar_for(post.author, size: 50), post.author %>
  <section class="row">
    <aside class="col-md-4">image</aside>
    <div class="col-md-8">
      <%= link_to post.author.name.full, post.author, class: :author %>
      <%= content_tag(:div, "Posted #{ time_ago_in_words(post.created_at) } ago.",
        class: "timestamp") %>
    </div>
  </section>
  <div class="content"><%= post.content %></div>
</li>
