<ul class="list-style-none d-flex">
  <li>
    <%= render 'posts/unlike' if @post.liker?(current_user) %>
    <%= render 'posts/like' unless @post.liker?(current_user) %>
  </li>
  <li class="pt-3 ml-3">
    <%= content_tag(:div, @post.likers.count) %>
  </li>
  <li class="pt-3 ml-auto">
    <%= content_tag(:div, "Comments #{@post.comments.count}") %>
  </li>
</ul>
