// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "framework/colors";

.write-comment {
  .profile-pic {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 50%;
  }
}

.comments {
  list-style: none;
  padding: 0;
  > li {
    min-height: 5rem;
    padding: 0.3rem;
    &:not(:first-child) {
      @include border-top;
    }
  }
  .profile-pic {
    float: left;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    border-radius: 50%;
  }
  .user {
    float: left;
    margin: 1rem 1rem 0 1rem;
  }
  .content {
    margin-top: 1rem;
  }
}
