@import "bootstrap";
@import 'framework/colors';
@import 'framework/typographies';
@import 'framework/display';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  background:
    linear-gradient(0deg,$transparent-white-mid 0%, $light-warm-green 100%),
    url('grass_bg.webp') center/cover repeat-x;
  height: 100vh;
}

.home .btn {
  margin: 0.5rem;
}

.profile-pic {
  width: 80px;
  height: 80px;
  margin: 0.2rem;
}

section {
  overflow: auto;
}

textarea {
  width: 100%;
  resize: none;
  overflow-y: hidden;
  padding: 1.1rem;
  line-height: 1.6;
}

.center {
  text-align: center;
}

/* header */

header {
  a {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  ul {
    margin: 0.8rem 0.8rem 0;
  }
}

#logo {
  float: left;
  margin-right: 0.3rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0.25rem;
  font-weight: bold;
}

/* footer */
footer {
  padding-top: 0.3rem;
  border-top: $border-gray;
  color: $mid-dark-gray;
  small {
    float: left;
  }
  a {
    color: $mid-gray;
    &:hover {
      color: $dark-gray;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 0.5rem;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: $dark-orange;
  ul {
    color: $dark-orange;
    // margin: 0 0 1rem 0;
  }
}
