@import "bootstrap";
@import 'framework/colors';
@import 'framework/typographies';
@import 'framework/display';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.jumbotron {
  background-color: $light-warm-green !important;
}

.alert {
  background-color: $light-warm-green !important;
  border-color: $mid-warm-green !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

/* header */

header {
  a {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  ul {
    margin: 0.8rem 0.8rem 0;
  }
}

#logo {
  float: left;
  margin-right: 0.3rem;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0.25rem;
  font-weight: bold;
}

/* footer */
footer {
  padding-top: 0.3rem;
  border-top: $border-gray;
  color: $mid-dark-gray;
  small {
    float: left;
  }
  a {
    color: $mid-gray;
    &:hover {
      color: $dark-gray;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 0.5rem;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: $mid-orange;
  ul {
    color: $mid-orange;
    margin: 0 0 1rem 0;
  }
}

.profile_pic {
  width: 3rem;
  height: 3rem;
}

textarea {
  width: 100%;
}
