// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "framework/colors";

.write-post {
  textarea{
    padding: 1.1rem;
    line-height: 1.6;
  }
}

.posts {
  list-style: none;
  padding: 0;
  > li {
    padding: 1rem;
    border-top: $double-border-gray;
  }
}

.post {
  margin-top: 1rem;
  .profile-pic {
    float: left;
    width: 4rem;
    height: 4rem;
    margin: 0.2rem;
    border-radius: 50%;
  }
  .author {
    margin: 2.5rem 2rem 0.2rem 6rem;
    display: block;
  }
  .timestamp {
    color: $mid-dark-gray;
    margin-left: 6rem;
    display: block;
  }
  .post-updates {
    @media (min-width: 768px) { /* midium */
      padding-top: 4rem;
    }
    a {
      margin-left: 2rem;
    }
  }
  .content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    img {
      display: block;
      margin: 0.2rem 0;
    }
  }
}
