// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "framework/colors";

.write-post {
  textarea{
    padding: 1.1rem;
    line-height: 1.6;
  }
}

.posts {
  list-style: none;
  padding: 0;
  > li {
    padding: 1rem;
    @include border-top-double;
  }
}

.post {
  margin-top: 1rem;
  .author {
    margin: 1.2rem 2rem 0.2rem 6rem;
    display: block;
  }
  .timestamp {
    color: $brown-darken-1;
    margin-left: 6rem;
    display: block;
  }
  .post-updates {
    padding-top: 3rem;
    a {
      margin-left: 2rem;
    }
  }
  .content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    img {
      display: block;
      margin: 0.2rem 0;
    }
  }
}
