// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "framework/colors";

.users {
  [id*=user-] {
    margin-top: -4rem;
    padding-top: 4rem;
  }
  .h-title {
    @include border-bottom;
  }
  li {
    .after-scroll {
      @include border-top;
    }
  }
  .edit-info {
    display: none;
  }
  .disabled {
    float: left;
  }
  .edit_friendship {
    margin-left: 1rem;
    float: left;
  }
  .user .after-scroll {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .user-name {
      margin-left: 1rem;
    }
    .friend-count {
      margin-left: 1rem;
    }
  }
}
@media (min-width: 576px) { /* small */
  .users .user .after-scroll {
    flex-flow: row wrap;
    align-items: center;
    .user-name {
      margin-left: 1rem;
      display: block;
    }
    .friend-count {
      margin-left: 1rem;
    }
    .selections {
      margin-left: auto;
    }
  }
}

.profile-info {
  .btn {
    min-width: 8rem;
  }
  .user-name {
    margin: 1rem;
    float: left;
  }
  .not_in_profile {
    display: none;
  }
  .selections {
    margin: 1rem;
  }
}
@media (min-width: 576px) { /* small */
  .profile-info {
    .user-info {
      display: flex;
      justify-content: flex-end;
    }
    .selections {
      display: flex;
      justify-content: flex-end;
    }
  }
}
