// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "framework/colors";

.users {
  li {
    padding: 1rem 0;
    border-top: $border-gray;
  }
  .disabled {
    float: left;
  }
  .edit_friendship {
    margin-left: 1rem;
    float: left;
  }
  .user {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    .user-name {
      margin-left: 1rem;
    }
    .friend-count {
      margin-left: 1rem;
    }
  }
}
@media only screen and (min-width: 576px) { /* small */
  .users .user {
    flex-flow: row wrap;
    align-items: center;
    .user-name {
      margin-left: 1rem;
      display: block;
    }
    .friend-count {
      margin-left: 1rem;
    }
    .selections {
      margin-left: auto;
    }
  }
}

.profile-info {
  .btn {
    min-width: 8rem;
  }
  .user-name {
    margin: 1rem;
    float: left;
  }
  .friend-count {
    display: none;
  }
  .selections {
    margin: 1rem;
  }
}
@media only screen and (min-width: 576px) { /* small */
  .profile-info {
    .user-info {
      display: flex;
      justify-content: flex-end;
    }
    .selections {
      display: flex;
      justify-content: flex-end;
    }
  }
}
