<footer class="footer border-top">
  <small>
    The <span class="text-uppercase">moim</span> app project by
    <%= link_to I18n.t('customs.author.name'), I18n.t('customs.author.github'),
      data: { confirm: I18n.t('customs.ask.github') },
      class: "github" %>
  </small>
  <nav>
    <ul class="nav navbar-nav navbar-right list-inline">
      <li class="list-inline-item">
        <%= link_to "Feedback", feedback_path,
          data: { confirm: I18n.t('customs.ask.feedback') },
          class: "feedback-link" %>
      </li>
    </ul>
  </nav>
</footer>
