<footer class="footer">
  <small>
    The <span class="text-uppercase">moim</span> app project by
    <%= link_to "Suhyeon Jang", "https://github.com/shjang7",
      data: { confirm: "Move to Github profile?"},
      class: "github" %>
  </small>
  <nav>
    <ul class="nav navbar-nav navbar-right list-inline">
      <li class="list-inline-item">
        <%= link_to "Feedback", static_pages_feedback_url,
          data: { confirm: "Move to Feedback?"},
          class: "feedback-link" %>
      </li>
    </ul>
  </nav>
</footer>
