<a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  notification
  <span class="badge badge-warning badge-pill"><%= current_user.friend_requests.count %></span>
</a>
<ul class="dropdown-menu mt-1 rounded-0" aria-labelledby="navbarDropdown">
  <% current_user.friend_requests.each do |user| %>
    <li class="friend-request-notification">
      <%= link_to users_path(type: 'find_friends', anchor: "friend_requests") do %>
        <strong><%= user.name %></strong>
        sent you a friend request that you haven't responded to yet
      <% end %>
    </li>
  <% end %>
</ul>
